.header {
    padding: 10px; /* some padding */
    text-align: center; /* center the text */
    background: whitesmoke; /* green background */
    color: white; /* white text color */
}

/* Style the top navigation bar */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden; /* Hide overflow */
    background-color: black; /* Dark background color */
}

  /* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: whitesmoke; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

  /* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

  /* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: silver; /* Grey background color */
    color: black; /* Black text color */
}
/* Ensure proper sizing */
* {
    box-sizing: border-box;
}

  /* Column container */
.row { 
    display: flex;
    flex-wrap: wrap;
}

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
.side {
    flex: 50%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}

  /* Main column */
.main { 
    flex: 50%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}
.footer {
    padding: 20px; /* Some padding */
    
    background: #ddd;
}
.social-icon{
    position: relative;
    vertical-align: middle;
    color: red;
    transition:color 0.2s;
}
.social-icon:hover{
    color:#333333;
    transition:color 0.2s;
}